@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.HomeIconsDiv {
  display: flex;
  flex-direction: column;
  /* Stacks children vertically */
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;

  .spanText {
    font-family: 'Roboto Condensed', fallback-font, sans-serif;
    color: #657383;
    text-align: center;
    /* This centers the text inside the <p> element */
  }

}

.column {
  display: flex;
  justify-content: center;
  /* Centers children (e.g., the <img>) horizontally */
  align-items: center;
  /* Centers children vertically */
  flex: 1;
  /* Ensures that each .column div takes up equal space within the flex container */
  flex-direction: column;

  .Header {
    font-family: 'Roboto', fallback-font, sans-serif;
    color: #494F66;
    text-align: center;
    /* This centers the text inside the <p> element */
    font-weight: bold;
  }

  .spanDescText {
    font-family: 'Roboto', fallback-font, sans-serif;
    color: #595959;
    text-align: center;
    /* This centers the text inside the <p> element */
    margin-left: 100px;
    margin-right: 100px;
  }
}