.fw-bold-menu {
  font-weight: bold;
  position: relative;
  margin-right: auto;

  &:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    height: 1px;
    border-top: 2px dotted #ccc;
    width: var(--dotted-line-width, calc(150%));
    margin-left: 20px;
  }


}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-container {
  padding: 0px !important;
}

html,
body {
  min-width: 320px;
  overflow-x: hidden;
}